<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dt.lebenindeutschland">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_round_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LanguageActivity"></activity>
        <activity android:name=".exam.ResultActivity" />
        <activity android:name=".exam.ExamActivity" />
        <activity android:name=".exam.ExamInformationActivity" />
        <activity android:name=".test.TestThemaActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".learn.ThemaActivity" />
        <activity android:name=".SelectStateActivity" />
        <activity android:name=".learn.LearningActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>